astroid==2.4.1
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
prettytable==0.7.2
pyaes==1.6.1
pyarmor==6.3.2
pyasn1==0.4.8
pylint==2.5.2
Pyrogram==0.17.1
PySocks==1.7.1
requests==2.24.0
rsa==4.6
soupsieve==2.0.1
Telethon==1.15.0
TgCrypto==1.2.1
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
tor==0.3.1.7
